html, body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 75px;
    background-color: #76B900;
    display: flex;
    align-items: center;
}

header h1 {
    text-align: left;
    margin-left: 10%;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}

a:link, a:visited, a:active a:hover {
    text-decoration: none;
    color: white;
}

header img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.page-title {
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 2%;
}

.search-and-bid {
    height: 75px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.search-form {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.search-form button {
    width: 10%;
    height: 30px;
    background-color: white;
    outline: 3px solid #76B900;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.search {
    height: 30px;
    width: 600px;
    color: black;
    font-weight: normal;
    font-size: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 10%;
}

.search input {
    height: 100%;
    width: 65%;
    outline: 3px solid #76B900;
    border: none;
    border-radius: 10px;
    padding-left: 3%;
}

.bid {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 5%;
    display: flex;
}

.bid.disabled {
    filter: grayscale(100%);
    opacity: 0.6;
    pointer-events: none;
}

.bid.disabled button {
    cursor: not-allowed;
}

.main-bid {
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 75px;
    border: #76B900 solid 3px;
    background-image: url("http://localhost:9000/software-images/bid.png");
    background-position: 55% 45%;
    background-repeat: no-repeat;
    background-size: 65%;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.main-bid:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
}

.extra-bid {
    background-color: #FF0000;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    color: white;
    margin-left: -25px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.card {
    width: 250px;
    height: 300px;
    background-color: white;
    border-radius: 25px;
    border-color: #76B900;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    margin-bottom: 50px;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
}

.card img {
    width: 200px;
    height: 200px;
    margin-top: 5px;
}

.card-title {
    margin-top: 5%;
    height: 10%;
    font-weight: 900;
    padding-left: 5%;
    padding-right: 5%;
}

.card-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.card-btn-add-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card-btn-detail, .card-btn-add {
    height: 25px;
    width: 100%;
    border-radius: 10px;
    background-color: #76B900;
    border: none;
    cursor: pointer;
}

.card-btn-detail, .card-btn-add-form {
    width: 40%;
    color: black;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: black solid 2px;
}