html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    width: 100%;
    height: 75px;
    background-color: #76B900;
    display: flex;
    align-items: center;
}

header h1 {
    text-align: left;
    margin-left: 10%;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}

a:link, a:visited, a:active a:hover {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
    gap: 50px;
}

.card {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 25px;
    border: #76B900 solid 5px;
    text-align: center;
}

.card img {
    height: 275px;
    width: 250px;
    margin-top: 5%;
}

.card-text {
    width: 600px;
}

.card-text > * {
    color: white;
    font-size: 20px;
    text-align: left;
}

.card-title {
    font-size: 35px;
    font-weight: bold;
}