<html lang="en">
<head>
    <title>lab1</title>
    <link rel="stylesheet" href="/app/resources/styles/MainPage.css">
</head>
<header>
    <h1><a href="/softwares">Разработка ПО</a></h1>
</header>
<body>
    <h2 class="page-title">Услуги</h2>
    <div class="search-and-bid">
        <form class="search-form" action="/softwares" method="GET">
            <div class="search">
                <p>Поиск по названию:</p>
                <input type="text" name="software-search" placeholder="Введите название" value="{{ .softwareSearch }}"/>
            </div>
            <button class="service-search-btn" type="submit">Найти</button>
        </form>
        <form class="bid {{ if eq .bidCount 0 }}disabled{{ end }}" action="/software-bids/{{ .bidID }}" method="GET">
            <button class="main-bid"></button>
            <button class="extra-bid">{{ .bidCount }}</button>
        </form>
    </div>

    <div class="cards-container">
        {{ range .services }}
        <div class="card">
            <img src="http://localhost:9000/software-images/{{ .Image }}">
            <p class="card-title">{{ .Title }}</p>
            <div class="card-btns">
                <button class="card-btn-detail" onclick="window.location.href='/softwares/{{ .ID }}'">Подробнее</button>
                <form class="card-btn-add-form" action="{{ $.bidID }}/add-software/{{ .ID }}" method="POST">
                    <button type="submit" class="card-btn-add">Добавить</button>
                </form>
            </div>
        </div>
        {{ end }}
    </div>
</body>
</html>