<html lang="en">
<head>
    <title>lab1</title>
    <link rel="stylesheet" href="/static/styles/MainPage.css">
</head>
<header>
    <h1><a href="/services">Разработка ПО</a></h1>
</header>
<body>
    <h2 class="page-title">Услуги</h2>
    <div class="search-and-bid">
        <form class="search-form" action="/services" method="GET">
            <div class="search">
                <p>Поиск по названию:</p>
                <input type="text" name="serviceSearch" placeholder="Введите название" value="{{ .serviceSearch }}"/>
            </div>
            <button class="serviceSearch-btn" type="submit">Найти</button>
        </form>
        <form class="bid" action="/bids/1" method="GET">
            <button class="main-bid"></button>
            <button class="extra-bid">{{ .bidCount }}</button>
        </form>
    </div>

    <div class="cards-container">
        {{ range .services }}
        <div class="card">
            <img src="http://localhost:9000/software-images/{{ .Image }}">
            <p class="card-title">{{ .Title }}</p>
            <div class="card-btns">
                <button class="card-btn-detail" onclick="window.location.href='/services/{{ .ID }}'">Подробнее</button>
                <form class="card-btn-add-form" action="1/addservice/{{ .ID }}" method="POST">
                    <button type="submit" class="card-btn-add">Добавить</button>
                </form>
            </div>
        </div>
        {{ end }}
    </div>
</body>
</html>